streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.6.1
imbalanced-learn==0.13.0
matplotlib==3.9.0
seaborn==0.13.2
shap==0.45.0
xgboost==2.0.3
lightgbm==4.4.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
reportlab==4.2.0
optuna==3.6.1
joblib>=1.4.0
