streamlit>=1.35.0
pandas>=2.2.2
numpy>=1.26.0
scikit-learn>=1.4.0
imbalanced-learn>=0.12.0
matplotlib>=3.8.0
seaborn>=0.13.0
shap>=0.44.0
xgboost>=2.0.0
lightgbm>=4.0.0
reportlab>=4.0.0
groq>=0.9.0
python-dotenv>=1.0.0
langchain>=0.2.14
langchain-community>=0.2.12
langchain-groq>=0.1.9
langgraph>=0.2.22
faiss-cpu>=1.8.0
sentence-transformers>=3.0.0
langchain-text-splitters>=0.2.4
langchain-huggingface>=0.0.3
pydantic>=2.8.0
joblib>=1.4.0
